html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@keyframes abrirCompartimento {
   0% {
    max-width: 0;
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    max-width: 500px; /* ajusta según tu contenido */
    opacity: 1;
    transform: translateX(0);
  }
}
.App {
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  padding-top: 7.5vh;
  
  
}
.tamagotchi {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  border: 4px solid black;
  background-color: rgb(107, 80, 21);
  background-size: cover; /* o try 'contain' or '100% 100%' */
  background-repeat: no-repeat;
  background-position: center;
  padding: 2%;
  border-radius: 5%;
}


.frame {
  background-color: wheat;
  color: white;
  width: 100%;
  height: 70%;
  text-align: center;
  display: flex; /* Necesario para centrar */
  align-items: center;
  justify-content: center; /* opcional, para centrar horizontalmente también */
  box-sizing: border-box;
  border: 8px solid rgb(73, 55, 14); /* Borde de 4px de color blanco */
  border-bottom: 8px solid rgb(73, 55, 14);
  border-top: 8px solid rgb(73, 55, 14);
  border-radius: 2vw;

  background-size: cover; /* o try 'contain' or '100% 100%' */
  background-repeat: no-repeat;
  background-position: center;
}
.sidepanel{
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
   /* Borde de 4px de color blanco */
  border-bottom: 8px solid rgb(141, 213, 223);
  border-top: 0px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
  height: 30%;
  width: 100%;
  
}
.title{
  box-sizing: border-box;
  background-color: rgb(107, 80, 21);
  color: wheat;
  font-weight: bold;
  text-shadow:
    -2px -2px 0 rgb(73, 55, 14),
    2px -2px 0 rgb(73, 55, 14),
    -2px 2px 0 rgb(73, 55, 14),
    2px 2px 0 rgb(73, 55, 14);
  border: 8px solid rgb(73, 55, 14); /* Borde de 4px de color blanco */
  border-bottom: 0px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 1.5vh;
  text-align: center;
  height: 100%;
  width: 70%;
}
.canvas{
  height: 100%;
  width: 100%;
  border-radius: 5%;
  align-items: center;
  margin-left: 10vw;
  
}
.menu{
  display: flex;
  
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}
.menu div{
  width: 80%;
  margin:auto;
  height: 40%;
  align-items: center;
  text-align: center;
}
.menu div div{
  display: flex;
  flex-direction: column;
  background-color: wheat;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 2%;
  align-items: center;
  text-align: center;
  border: 8px solid rgb(88, 66, 17);
  border-right: 8px solid rgb(73, 55, 14);
  border-left: 8px solid rgb(73, 55, 14);
}
.menu div div:hover{
  background-color: rgb(107, 80, 21);
  border: 8px solid rgb(73, 55, 14);
  border-right: 8px solid rgb(88, 66, 17);
  border-left: 8px solid rgb(88, 66, 17);
  text-align: center;
}
.tienda {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  padding: 1rem;
  gap: 1rem;
  cursor: grabbing;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* Ocultar scroll */
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE y Edge */
}
.tienda::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Edge */
}
.tienda div{
  height: 6vh;
  display:flex;
  cursor: grab;
  border-radius: 10%;
  padding:0.25%;
  border: 8px solid rgb(73, 55, 14);
  align-items: center;
  text-align: center;
}
.tienda div:hover{
  background-color: rgb(107, 80, 21);
  color:white;
}
.comida {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  /* Ocultar scroll */
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE y Edge */
}
.comida::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Edge */
}
.card{
  background-color: wheat;
  
  color:black;
  display:flex;
  cursor: grab;
  width: 60%;
  justify-content: center;
  border-radius: 10%;
  padding:0.5%;
  border: 8px solid rgb(73, 55, 14);
  align-items: center;
  text-align: center;
}
.comida div:hover{
  background-color: rgb(121, 233, 199);
  color:white;
}
.menuSecundario{
  font-size: 1.4rem;
  width: 8%;
  height: 80%;
  border: 4px solid black;
  border-right: 0px;
  background-color: rgb(107, 80, 21);
  padding: 2%;
  border-radius: 5%;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  padding: 1rem;
  gap: 1rem;
  cursor: grab;
  /* Ocultar scroll */
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none; 
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: abrirCompartimento 0.4s ease-out forwards;
  display:flex;
  flex-direction: column;
}
.botonComprar{
  width: 100%;
  height: 10%;
  background-color: wheat;
  color:black;
  margin-top:auto;
  justify-content: center;
  border-radius: 10%;
  padding:1%;
  border: 2px solid black;
  align-items: center;
  text-align: center;
}
.barraNutricionRelleno{
  height: 2vh;
  background-color: greenyellow;
}
.valores{
  background-color: aliceblue;
  border-radius: 5%;
  border: 4px solid black;
  align-items: center;
}
.valorEstado{
  height: 2vh;
  background-color: greenyellow;
}
.contenedorEstado{
  height: 2vh;
  width: 100%;
  justify-content: center;
  align-items: center;

}
.valorDiv{
  background-color: wheat;
  border: 8px solid rgb(73, 55, 14);
  padding:1%;
  margin:auto;
  margin-bottom: 10%;
  border-radius: 5%;
  width: 100%;
}
.back {
  width: 10%;          /* O un tamaño fijo para pruebas, ej 200px */
  height: 100%;        /* El padre debe tener altura definida */
  background-image: url('/public/back.png');
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
  background-position: center;
  cursor: pointer;     /* Para que se note que es interactivo */
}

.back:hover {
  background-image: url('/public/back_hover.png');
}
.logout {
  width: 10%;          /* O un tamaño fijo para pruebas, ej 200px */
  height: 100%;        /* El padre debe tener altura definida */
  background-image: url('/public/logout.png');
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
  background-position: center;
  cursor: pointer;     /* Para que se note que es interactivo */
}

.logout:hover {
  background-image: url('/public/logout_hover.png');
  
}
@media (max-width: 1280px) and (max-height: 720px) {
  .menu {
    display: flex;
    overflow-y: auto;         /* Permite scroll vertical */
    scrollbar-width: none; 
       /* Firefox */
    justify-content: center;
    height: 100%;
    align-items: center;
  }
  .comida{
    overflow-y: hidden;
    
  }
  .comida div{
    height: 1.5vw;

  }
  .menu div{
    height: 60%;
    
  }
  .menuSecundario{
    font-size: 0.7vw;
    
  }
  .dinero{
    font-size: 1vw;
  }
  .back{
    border: 4px solid rgb(73, 55, 14);
  }
  .logout{
    border: 4px solid rgb(73, 55, 14);
    border-radius: 5%;
  }
  }
